<footer class="footer page-width" role="contentinfo">
  <div class="footer__content">
    <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved.</p>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "section-footer",
  "settings": []
}
{% endschema %}
