<div class="page-width">
  <h1>{{ 'customer.account.title' | t }}</h1>
  <p><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }}</a></p>
</div>
{% schema %}
{ "name": "Account", "tag": "section", "settings": [] }
{% endschema %}
