<div class="page-width">
  <h1>{{ 'general.search.title' | t }}</h1>
  {% if search.performed %}
    {% for item in search.results %}
      {% assign hide_item = false %}
      {% if item.object_type == 'product' %}
        {% assign product_type_down = item.product_type | downcase %}
        {% if item.tags contains 'hidden-search' or product_type_down contains 'clothing' or product_type_down contains 'furniture' %}
          {% assign hide_item = true %}
        {% endif %}
      {% else %}
        {% assign title_down = item.title | downcase %}
        {% if title_down contains 'furniture' or title_down contains 'clothing' or title_down contains '.fur' or title_down contains 'fur-' or title_down contains ' fur' %}
          {% assign hide_item = true %}
        {% endif %}
      {% endif %}
      {% unless hide_item %}
        <div><a href="{{ item.url }}">{{ item.title }}</a></div>
      {% endunless %}
    {% endfor %}
  {% endif %}
</div>
{% schema %}
{ "name": "Search", "tag": "section", "settings": [] }
{% endschema %}
