<div class="page-width">
  <h1>{{ collection.title }}</h1>
  {% if collection.description != blank %}<div>{{ collection.description }}</div>{% endif %}
</div>
{% schema %}
{ "name": "Collection banner", "tag": "section", "settings": [] }
{% endschema %}
