<div class="page-width">
  <h1>{{ 'customer.recover_password.title' | t }}</h1>
  {% form 'recover_customer_password' %}
    <input type="email" name="email" placeholder="{{ 'customer.recover_password.email' | t }}">
    <button type="submit">{{ 'customer.recover_password.submit' | t }}</button>
  {% endform %}
</div>
{% schema %}
{ "name": "Reset password", "tag": "section", "settings": [] }
{% endschema %}
