<div class="page-width">
  <h1>{{ 'general.search.title' | t }}</h1>
  {% if search.performed %}
    {% for item in search.results %}
      {% assign hide_item = false %}
      {% if item.object_type == 'product' %}
        {% capture cf_hide %}{% render 'cf-search-hide-product', product: item %}{% endcapture %}
        {% assign cf_hide = cf_hide | strip %}
        {% if cf_hide == '1' %}
          {% assign hide_item = true %}
        {% endif %}
      {% else %}
        {% capture cf_hide %}{% render 'cf-search-hide-title', text: item.title %}{% endcapture %}
        {% assign cf_hide = cf_hide | strip %}
        {% if cf_hide == '1' %}
          {% assign hide_item = true %}
        {% endif %}
      {% endif %}
      {% unless hide_item %}
        <div><a href="{{ item.url }}">{{ item.title }}</a></div>
      {% endunless %}
    {% endfor %}
  {% endif %}
</div>
{% schema %}
{ "name": "Search", "tag": "section", "settings": [] }
{% endschema %}
